.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, #810bab 0%, #6e37fa);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &__link {
      font-size: 1.9rem;
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin-right: 50px; 
    }
  
    &__search {
      flex: 1; 
      max-width: 300px;
      margin: 0 auto;
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      outline: none;
      background-color: white;
      color: #333;
      transition: box-shadow 0.3s;

      @media (min-width: 800px) {
        max-width: 400px;
      }
  
      &:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
  
      &::placeholder {
        color: #aaa;
      }
    }
  
    &__nav__link {
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
      margin-left: auto;
  
      &:hover {
        border-bottom: 1px solid;
      }
    }
  
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
  
      &__link, &__nav__link {
        margin: 10px 0; 
      }
  
      &__search {
        width: 100%; 
        max-width: 90%;
      }
    }
  }