.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, #810bab 0%, #6e37fa);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &__link {
      font-size: 1.9rem;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  
    &__search {
      flex: 1;
      max-width: 400px;
      margin: 0 20px;
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      outline: none;
      background-color: white;
      color: #333;
      transition: box-shadow 0.3s;
  
      &:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
  
      &::placeholder {
        color: #aaa;
      }
    }
  
    &__nav__link {
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
  
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }